%flex-container {
    display: flex;
    justify-content: center; 
    height: 100%;
}
%text-field {
    flex-grow: 2;
    flex-direction: column;
}

img {
    width: 100%;
    height: 100%;
}

.display {
    display: inline;
}

.remove {
    display: none;
}

.apply-shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both
}
@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}

// blocks maintainance
.main-container {
    display: block;
    width: 900px;
    margin: auto;

    .menu-container {
        height: 50px;
        display: block;
        text-align: center;
        .select-btn-container {
            @extend %flex-container;
            :nth-child(3) { order: 1;}
            :nth-child(4) { order: 4;}
            justify-content: space-between; 
            .select-btn {
                flex-grow: 1;
                background-color: #1abc9c;
                color: #fff;
                -webkit-appearance: button; 
                order: 2;
            }
            .select-info {
                @extend %flex-container;
                @extend %text-field;
                // flex-grow: 2;
                // flex-direction: column;
            }
        }
        .difficulty-btns-container {
            @extend %flex-container;
            :nth-child(4) { order: 1;}
            .difficulty-btns {
                order: 2;
                flex-grow: 1;
                background-color:#929697;
                border-radius:10px;
                color:#ffffff;
            }
            .highlight {
                background-color:#1abc9c;
            }
            .difficulty-info {
                @extend %flex-container;
                @extend %text-field;
            }
        }      
        .play-again-container {
            @extend %flex-container;
            .play-again {
                flex-grow: 1;
                background-color:#1abc9c;
                border-radius:8px;
                color:#ffffff;
            }
            .play-again:hover {
                background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
                background-color:#408c99;
            }
            .start {
                flex-grow: 1;
                background-color:#fe1a00;
                border-radius:6px;
                color:#ffffff;
            }
            .start:hover {
                background-color:#1abc9c;
            }
        }
    }

    .field-container {
        display: block;
        width: 100%;
        .rows {
            display: flex;
            justify-content: center;
            .field-btns {
                height: 140px;
                width: 140px;
                border: 0;
                margin: 0;
                padding: 0;
            }
            .field-btns:hover {
                background-color: white;
            }
        }
    }
    
    .time-up-container {
        @extend %flex-container;
        height: 150px;
    }
    .congrat-container {
        @extend %flex-container;
    }
}

@media all and (min-width: 600px) and (max-width: 1000px) {
    .main-container {
        width: 600px;
        .menu-container {
            height: 30px;
        }
        .field-container {
            .rows {
                .field-btns {
                    width: 100px;
                    height: 100px;
                }
            }    
        }
        .time-up-container {
            height: 100px;
        }
    }
 }
    
@media all and (max-width: 599px) {
    .main-container {
        width: 300px;
        .menu-container {
            height: 25px;
            .select-btn-container {
                .select-btn {
                   flex-shrink: 0;
                }
                .select-info {
                    font-size: 10px;
                    flex-shrink: 1;
                }
            }
            .difficulty-btns-container {
                .difficulty-info {
                    font-size: 10px;
                }
            }
        }
        .field-container {
            .rows {
                .field-btns {
                    height: 50px;
                    width: 50px;
                }   
            } 
        }
        .time-up-container {
            height: 70px;
        }
    }
    
}







