.mainContainer {
    display: block;
}
.btnContainer {
    display: flex;
    justify-content: center;
}

.fieldContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-basis: auto;
}

.visible {
    opacity: 1;
}
.hidden {
    opacity: 0;
    pointer-events: all;
}

.gameBtns {
    margin: 0;
    padding: 0;
    border: 0;
}

