img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.display {
    display: inline;
}

.remove {
    display: none;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0.4;
}

.pre-picked {
    color: rgb(71, 106, 182);
}

.not-picked {
    color: black;
}

// blocks maintainance

.main-container {
    display: block;
}

.menu-container {
    display: block;
    text-align: center;
}

.field-container {
    display: flex;
    justify-content: center; 
    width: 1000px;   
    margin: auto;
}

.rows {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.field-btns {
    flex-basis: 140px;
    flex-grow: 1;
    border: 0;
    margin: 0;
    padding: 0;
}
.field-btns:hover {
    background-color: white;
}

@media all and (min-width: 600px) and (max-width: 1000px) {
    .field-container {
        width: 600px;
    }
    .field-btns {
        flex-basis: 125px;
    }
}

@media all and (max-width: 599px) {
    .field-container {
        width: 230px;
    }
    .field-btns {
        flex-basis: 80px;
    }
}


